.design-upload {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 45%; /* Left side for customer info */
}

.right-column {
  width: 45%; /* Right side for image upload */
}

.upload-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns layout */
  gap: 20px; /* Space between the columns and rows */
}

.upload-box {
  display: flex;
  flex-direction: column;
}

.submit-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: darkblue;
}
