  .sidebar i {
    font-size: 18px;
    color: #fff;
    margin-top: 50px;
  }

  .sidebar a {
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
  }

  .sidebar hr {
    color: #fff;
  }

  .sidebar-link i {
    transition: transform 0.2s ease-in-out;
  }

  .sidebar-link:hover i {
    transform: scale(1.2);
    /* Tăng kích thước khi hover */
    color: #ffc107;
    /* Thay đổi màu icon khi hover */
  }