.itemsListContainer {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  h3 {
    margin-bottom: 15px;
    color: #333;
    font-size: 1.5rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .item:last-child {
    border-bottom: none;
  }
  
  .item input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    cursor: pointer;
  }
  
  .item span {
    flex-grow: 1;
    color: #555;
    font-size: 1.2rem;
  }
  
  .item span:hover {
    color: #000;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .item span {
      font-size: 1rem;
    }
  
    .itemsListContainer {
      padding: 10px;
    }
  
    h3 {
      font-size: 1.2rem;
    }
  }
  