.quotationFormContainer {
    margin-top: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  .selectBox {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .packageSelection {
    margin-bottom: 20px;
  }
  
  .submitButtonContainer {
    text-align: center;
    margin-top: 20px;
  }
  
  .submitButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #45a049;
  }
  