.quotationPageContainer {
    margin-top: 20px;
  }
  
  .header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .itemList {
    list-style-type: none;
    padding: 0;
  }
  
  .itemList li {
    background-color: #f1f1f1;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .batchPrices {
    margin-top: 20px;
  }
  
  .batchPrices p {
    font-weight: bold;
    color: #333;
  }
  